.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}

.list {
  list-style: none;
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
}